<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css" >
</head>
<body>
    <header>
        <h1 class="heading text-center">Wishes</h1>
    </header>

    <nav class="navbar navbar-light bg-light">
        <a class="nav-link" href="/insert">Add Wish</a>
    </nav>

    <main>
        <div class="container">
            <table class="table table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Wish</th>
                </tr>
                <tr th:each="wish:${wishList}">
                    <td th:text="${wish.id}"></td>
                    <td th:text="${wish.wish}"></td>
                </tr>
            </table>

        </div>
    </main>
</body>
</html>