<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add Wish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css" >
</head>
<body>
    <header>
        <h1 class="text-center">Add Wish</h1>
    </header>

    <nav class="navbar navbar-light bg-light">
        <a class="nav-item" href="/">Home</a>
    </nav>

    <main>
        <div class="container">
            <form method="post" action="#" th:action="@{/insert}" th:object="${wish}">
                <div class="form-group">
                    <label for="wish" >Wish</label>
                    <input id="wish" class="form-control" type="text" name="wish" placeholder="Enter your wish here" th:field="*{wish}" />
                </div>
                <input class="btn btn-primary mt-2" type="submit" value="Add">
            </form>
        </div>
    </main>

</body>
</html>